<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gnosis Bookstore</title>
</head>
<body>
	<h1>Gnosis Bookstore</h1>
	
	<div th:if="${bookList.empty}">
		<h2>Add to Book Inventory</h2>
	</div>
	
	<div th:unless="${bookList.empty}">
		<table>
			<tr>
				<th>ISBN</th>
				<th>Title</th>
				<th>Author</th>
				<th>Category</th>
				<th>Price</th>
				<th>Quantity</th>
			</tr>
			<tr th:each="book : ${bookList}">
				<td th:text="${book.isbn}">ISBN</td>
				<td th:text="${book.title}">Title</td>
				<td th:text="${book.author}">Author</td>
				<td th:text="${book.category}">Category</td>
				<td th:text="${book.price}">Price</td>
				<td th:text="${book.quantity}">Quantity</td>
			</tr>
		</table>
	</div>
	
	<div><a href="/addPage">Add Book</a></div>
</body>
</html>